* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.stopwatch-container {
  width: 34rem;
  height: 22rem;
  border: 2px solid aqua;
  margin: 8rem auto;
  border-radius: 2rem 2rem 0 0;
  position: relative;
}

.header {
  height: 2rem;
  background-color: aqua;
  border-radius: 1.9rem 1.9rem 0 0;
}

.body {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

h3 {
  margin-top: 2rem;
  font-size: 3.5rem;
}

p {
  margin-top: 3rem;
  font-size: 3rem;
}

.btn {
  width: 6rem;
  height: 2rem;
  border-radius: 7px;
  margin-right: 2px;
}

.footer {
  height: 1rem;
  background-color: aqua;
  margin-top: 2.3rem;
}
